<div class="container d-flex flex-column w-50 flex-wrap">
    <div class="container">
        <div class="card bg-dark text-white">
            <img class="card-img img-fluid" src="{{city.picture}}" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{city.name}}</h5>
                </div>
        </div>
    </div>
    <div class="container">
        <h2>EATS</h2>
        {{#each eats as |eat|}}
    <div class="card">
            <img class="card-img-top" src="{{eat.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{eat.name}}</h5>
                <p class="card-text">{{eat.summary}}</p>
                <a href="#" class="{{eat.link}}">Visit their website</a>
            </div>
    </div>
        {{/each}}
    </div>
    <div class="container">
        <h2>ENTERTAINMENT</h2>
        {{#each ents as |ent|}}
        <div class="card">
            <img class="card-img-top" src="{{ent.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ent.name}}</h5>
                <p class="card-text">{{ent.summary}}</p>
                <a href="#" class="{{ent.link}}">Visit their website</a>
            </div>
    </div>
        {{/each}}
</div>
</div>